/// @type Color
$bg-color: #ffffff;
/// @type Color
$title-color: #636db9;
/// @type Color
$text-color: #767676;
/// @type Color
$primary-color: #8D95D6;
/// @type Color
$subprimary-color: #9FA4DB;
/// @type Color
$secondary-color: #ECA563;
/// @type Color
$subsecondary-color: #77DD77;
/// @type Color
$light-color: #E8EAFF;
/// @type Color
$gray-color: #a1a1aa;
/// @type Color
$gradient-round: radial-gradient(circle, #aeb4e2, #8d95d6);
$gradient-lineal: linear-gradient(to bottom, #EAEDFF, #FFFFFF);

:root {
  --bg-color: #{$bg-color};
  --title-color: #{$title-color};
  --text-color: #{$text-color};
  --primary-color: #{$primary-color};
  --subprimary-color: #{$subprimary-color};
  --secondary-color: #{$secondary-color};
  --subsecondary-color: #{$subsecondary-color};
  --light-color: #{$light-color};
  --gray-color: #{$gray-color};
  --gradient-round: #{$gradient-round};
  --gradient-lineal: #{$gradient-lineal};
  --bg-paws: url('/assets/paws.svg');
}