html,
body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background: var(--bg-color);
  font-family: var(--font-poppins);
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  font-family: var(--font-poppins);
  box-sizing: inherit;
}

.css-1lg07yq-MuiCardContent-root,
.css-1um1sdq-MuiGrid-root>.MuiGrid-item,
.css-iz7uyt-MuiInputBase-root-MuiOutlinedInput-root {
  padding: 0 !important;
}

.css-w76bbz-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input:focus {
  border-radius: 100px !important;
}