html,
body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background: var(--bg-color);
  font-family: var(--font-poppins);
}

*,
*::before,
*::after {
  font-family: var(--font-poppins);
  box-sizing: inherit;
}